<!DOCTYPE html>
<html>
<head>
  <title>Webhook logger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "webhook_logger/application", media: "all" %>
  <%= javascript_include_tag "webhook_logger/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
